PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
PUBLIC_CAL_LINK=leadflownorth/15min
PUBLIC_HUBSPOT_CONTACT_FORM_ENDPOINT=https://api.hsforms.com/submissions/v3/integration/submit/PORTAL_ID/CONTACT_FORM_GUID
PUBLIC_HUBSPOT_AUDIT_FORM_ENDPOINT=https://api.hsforms.com/submissions/v3/integration/submit/PORTAL_ID/AUDIT_FORM_GUID
PUBLIC_HUBSPOT_ROI_FORM_ENDPOINT=https://api.hsforms.com/submissions/v3/integration/submit/PORTAL_ID/ROI_FORM_GUID
